*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* font-family: 'Lora', serif; */
    /* font-family: 'Oxygen', sans-serif; */
}
a{
    display: block;
    text-decoration: none;
}
img{
    width: 100%;
}


.container{
    width: 940px;
    margin: 0 auto;
}
main{
    background-color: #F7F7F7;
}
header{
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url(/img/IMAGE\ \(27\).png);
}

nav{
    padding: 20px 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #fff;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}
.nav-list{
    display: flex;
    font-family: 'Oxygen', sans-serif;
}
.nav-link{
    margin: 0 15px;
    color: #fff;
}

.together{
    padding: 110px 0;
    text-align: center;
    color: #fff;
}
.together  h2{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
}
.together p{
    margin: 20px 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.view-last-post{
    margin: 11px 0;
    margin-bottom: 46px;
    background-color: #DD783F;
    border-radius: 3px;
    border: none;
}
.post-link{
    padding: 12px 31px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
}
.header-list{
    margin: 22px 0;
    display: flex;
    justify-content: space-around;
}
.header-link{
    color: #768088;
}

.featured-posts{
    padding-top: 60px;
}
.featured-posts h2{
    cursor: pointer;
    text-align: center;
    font-family: 'Oxygen';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    font-weight: 400;
}
.h2line{
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 23px;
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
    transform: scaleX(0);
    transition: .5s;
}
.fp-title:hover .h2line{
    transform: scaleX(1);
}
.adventure{
    display: flex;
    justify-content: space-between;
}

.road-ahead{
    padding: 20px;
    display: flex;
    align-items: end;
    width: 460px;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/IMAGE\ \(28\).png);
    border-radius: 4px;
}
.road-text h3{
    margin-bottom: 6px;
    color: #fff;
}
.road-text p{
    margin-bottom: 17px;
    color: #FFFFFFB2;
}
.mat{
    border-top: 1px solid #EFEFEF;
    padding: 10px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mat p{
    margin: 0;
}
.mat-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mat-profile img{
    width: 26px;
}


.top-down{
    padding: 20px;
    display: flex;
    align-items: end;
    width: 460px;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/IMAGE\ \(29\).png);
    border-radius: 4px;
}

.top-text h3{
    margin-bottom: 6px;
    color: #fff;
}
.top-text p{
    margin-bottom: 17px;
    color: #DEDEDE;
}
.will{
    padding: 10px 13px;
    border-top: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.will p{
    margin: 0;
}
.will-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.will-profile img{
    width: 26px;
}


.most-recent{
    padding-bottom: 108px;
}
.most-recent h2{
    margin-top: 67px;
    cursor: pointer;
    text-align: center;
    font-family: 'Oxygen';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    font-weight: 400;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.post{
    width: 30%;
    background-color: #fff;
}
.post-text{
    margin: 13px;
}


footer{
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/img/IMAGE\ \(31\).png);
}
.stay-in{
    text-align: center;
    padding-top: 81px;
}
.stay-in h2{
    cursor: pointer;
    text-align: center;
    font-family: 'Oxygen';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
}

.contact{
    display: flex;
    justify-content: center;
}
.contact input{
    border: none;
    outline: none;
    padding: 18px 35px;
    border-radius: 3px 0 0 3px;
}
.contact button{
    padding: 18px 43px;
    border: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0 3px 3px 0;
}



.footer-menu{
    margin-top: 90px;
    background: rgba(35, 47, 56, 0.6);
}
.footer-menu .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-title{
    color: #fff;
}
.footer-list{
    display: flex;
    gap: 20px;
}
.footer-link{
    color: #fff;
}

@media (max-width: 960px){
    .container{
        width: 840px;
    }

    .adventure{
        flex-direction: column;
    }
    .road-ahead{
        width: 100%;
        margin: 0 auto;
    }
    .top-down{
        width: 100%;
        margin: 20px auto;
    }

}

@media (max-width: 860px){
    .container{
        width: 740px;
    }
    .road-ahead{
        width: 100%;
        margin: 0 auto;
    }
    .top-down{
        width: 100%;
        margin: 20px auto;
    }
}

@media (max-width: 760px){
    .container{
        width: 640px;
    }
    .road-ahead{
        width: 100%;
        margin: 0 auto;
    }
    .top-down{
        width: 100%;
        margin: 20px auto;
    }

    .post{
        width: 45%;
    }
}

@media (max-width: 660px){
    .container{
        width: 540px;
    }
    .road-ahead{
        width: 100%;
        margin: 0 auto;
    }
    .top-down{
        width: 100%;
        margin: 20px auto;
    }
}

@media (max-width: 560px){
    .container{
        width: 440px;
    }
    
    
    nav .container{
        display: flex;
        justify-content: center;
    }
    .nav-list{
        display: none;
    }

    .together h2{
        font-size: 30px;
    }
    .together p{
        font-size: 11px;
    }

    .header-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header-item{
        width: 30%;
        text-align: center;
    }


    .road-ahead{
        width: 100%;
        margin: 0 auto;
    }
    .top-down{
        width: 100%;
        margin: 20px auto;
    }
    





    .footer-menu .container{
        display: flex;
        justify-content: center;
    }
    .footer-list{
        display: none;
    }
}

@media (max-width: 460px){
    .container{
        width: 340px;
    }

    .road-ahead{
        width: 300px;
        margin: 0 auto;
    }
    .top-down{
        width: 300px;
        margin: 20px auto;
    }
    

    .post{
        width: 100%;
    }
}

@media (max-width: 360px){
    .container{
        width: 240px;
    }

    .header-item{
        width: 50%;
    }
    .post-text{
        text-align: center;
    }
    .mat{
        flex-direction: column;
    }
    .will{
        flex-direction: column;
    }
    .dt{
        display: none;
    }
    .road-ahead{
        width: 100%;
        margin: 0 auto;
    }
    .top-down{
        width: 100%;
        margin: 20px auto;
    }
    .road-text{
        text-align: center;
    }
    .top-text{
        text-align: center;
    }

    .contact{
        flex-direction: column;
    }
    .contact input{
        width: 100%;
        border-radius: 3px 3px 0 0;
    }

    .contact button{
        border-radius: 0 0 3px 3px;
        width: 100%;
    }
}